.background {
  viewport-fill: fb-black;
}

#TitleText {
  fill: white;
  font-size: 32;
  font-family: System-Regular;
  font-weight: light;
  text-anchor: middle;
  text-length: 99;
}

#SpaceStateText {
  fill: white;
  font-size: 40;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: middle;
  text-length: 99;
}
